<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lv.dao.AuditionMapper">
    <insert id="saveAudition">
        INSERT INTO T_AUDITION(AUDI_POST, RES_ID, REC_ID) VALUES
        (#{audi_post},#{resume.res_id},#{recruit.rec_id})
    </insert>
</mapper>