<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lv.dao.UserMapper">

    <select id="login" resultType="com.lv.model.User">
        SELECT * FROM T_USER WHERE u_name=#{u_name} and u_pass=#{u_pass}
    </select>
</mapper>